In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('data.csv')
df.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

In [3]:
df=df[df['overs']>5.0]
df.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
32,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,Z Khan,61,0,5.1,59,0,41,10,222
33,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,Z Khan,61,1,5.2,59,1,41,10,222
34,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,Z Khan,61,1,5.3,59,1,41,0,222
35,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,Z Khan,61,1,5.4,59,1,41,0,222
36,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,Z Khan,61,1,5.5,58,1,41,0,222

In [4]:
from datetime import datetime as dt
df['date']=df['date'].apply(lambda x:dt.strptime(x,'%Y-%m-%d'))

In [5]:
df['bat_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

In [6]:
main_teams=['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils','Sunrisers Hyderabad']

In [7]:
df=df[df['bat_team'].isin(main_teams) & df['bowl_team'].isin(main_teams)]
df.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
32,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,Z Khan,61,0,5.1,59,0,41,10,222
33,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,Z Khan,61,1,5.2,59,1,41,10,222
34,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,Z Khan,61,1,5.3,59,1,41,0,222
35,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,Z Khan,61,1,5.4,59,1,41,0,222
36,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,Z Khan,61,1,5.5,58,1,41,0,222

In [8]:
df.drop(['mid','batsman','bowler'],axis=1,inplace=True)
df.head()

,date,venue,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
32,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,61,0,5.1,59,0,41,10,222
33,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.2,59,1,41,10,222
34,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.3,59,1,41,0,222
35,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.4,59,1,41,0,222
36,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.5,58,1,41,0,222

In [9]:
df.head()

,date,venue,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
32,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,61,0,5.1,59,0,41,10,222
33,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.2,59,1,41,10,222
34,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.3,59,1,41,0,222
35,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.4,59,1,41,0,222
36,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.5,58,1,41,0,222

In [10]:
df.dtypes

date              datetime64[ns]
venue                     object
bat_team                  object
bowl_team                 object
runs                       int64
wickets                    int64
overs                    float64
runs_last_5                int64
wickets_last_5             int64
striker                    int64
non-striker                int64
total                      int64
dtype: object

In [11]:
final_df=df.drop(['venue'],axis=1)

In [12]:
final_df.head()

,date,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
32,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,0,5.1,59,0,41,10,222
33,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.2,59,1,41,10,222
34,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.3,59,1,41,0,222
35,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.4,59,1,41,0,222
36,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.5,58,1,41,0,222

In [13]:
max(df['date'].dt.year)

2017

In [14]:
final_df=pd.get_dummies(final_df)

In [15]:
y_train=final_df[final_df['date'].dt.year <=2016 ]['total']
y_test= final_df[final_df['date'].dt.year >2016 ]['total']

In [16]:
y_train.head()

32    222
33    222
34    222
35    222
36    222
Name: total, dtype: int64

In [17]:
y_test.head()

68894    207
68895    207
68896    207
68897    207
68898    207
Name: total, dtype: int64

In [18]:
X_train=final_df.drop(['total'],axis=1)[final_df['date'].dt.year <=2016].drop(['date'],axis=1)
X_train.head()

,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,bat_team_Chennai Super Kings,bat_team_Delhi Daredevils,bat_team_Kings XI Punjab,...,bat_team_Royal Challengers Bangalore,bat_team_Sunrisers Hyderabad,bowl_team_Chennai Super Kings,bowl_team_Delhi Daredevils,bowl_team_Kings XI Punjab,bowl_team_Kolkata Knight Riders,bowl_team_Mumbai Indians,bowl_team_Rajasthan Royals,bowl_team_Royal Challengers Bangalore,bowl_team_Sunrisers Hyderabad
32,61,0,5.1,59,0,41,10,0,0,0,...,0,0,0,0,0,0,0,0,1,0
33,61,1,5.2,59,1,41,10,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34,61,1,5.3,59,1,41,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
35,61,1,5.4,59,1,41,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
36,61,1,5.5,58,1,41,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [19]:
X_test=final_df.drop(['total'],axis=1)[final_df['date'].dt.year > 2016].drop(['date'],axis=1)
X_test.head()

,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,bat_team_Chennai Super Kings,bat_team_Delhi Daredevils,bat_team_Kings XI Punjab,...,bat_team_Royal Challengers Bangalore,bat_team_Sunrisers Hyderabad,bowl_team_Chennai Super Kings,bowl_team_Delhi Daredevils,bowl_team_Kings XI Punjab,bowl_team_Kolkata Knight Riders,bowl_team_Mumbai Indians,bowl_team_Rajasthan Royals,bowl_team_Royal Challengers Bangalore,bowl_team_Sunrisers Hyderabad
68894,46,1,5.1,42,1,17,11,0,0,0,...,0,1,0,0,0,0,0,0,1,0
68895,50,1,5.2,46,1,17,15,0,0,0,...,0,1,0,0,0,0,0,0,1,0
68896,50,1,5.3,44,1,17,15,0,0,0,...,0,1,0,0,0,0,0,0,1,0
68897,54,1,5.4,48,1,19,17,0,0,0,...,0,1,0,0,0,0,0,0,1,0
68898,58,1,5.5,51,1,23,17,0,0,0,...,0,1,0,0,0,0,0,0,1,0

In [20]:
X_train.isnull().sum()

runs                                     0
wickets                                  0
overs                                    0
runs_last_5                              0
wickets_last_5                           0
striker                                  0
non-striker                              0
bat_team_Chennai Super Kings             0
bat_team_Delhi Daredevils                0
bat_team_Kings XI Punjab                 0
bat_team_Kolkata Knight Riders           0
bat_team_Mumbai Indians                  0
bat_team_Rajasthan Royals                0
bat_team_Royal Challengers Bangalore     0
bat_team_Sunrisers Hyderabad             0
bowl_team_Chennai Super Kings            0
bowl_team_Delhi Daredevils               0
bowl_team_Kings XI Punjab                0
bowl_team_Kolkata Knight Riders          0
bowl_team_Mumbai Indians                 0
bowl_team_Rajasthan Royals               0
bowl_team_Royal Challengers Bangalore    0
bowl_team_Sunrisers Hyderabad            0
dtype: int64

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV

In [22]:
regressor=RandomForestRegressor()

In [23]:
n_estimators=[50,100,150,200,250]
max_depth=[5,10,15,20,25,30,35]
max_features=['auto', 'sqrt']

In [24]:
parameters={
     'n_estimators':n_estimators,
     'max_depth':max_depth,
     'max_features':max_features
}

In [25]:
rf=GridSearchCV(regressor,parameters,scoring='neg_mean_squared_error',cv=5)

In [ ]:
rf.fit(X_train,y_train)

In [26]:
pred=rf.predict(X_test)

NotFittedError: This GridSearchCV instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [ ]:
sns.distplot(pred,y_test)